*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
p.redred{
    color:rgb(59, 98, 87);
    font-size: 32px;
    text-align: left;
    text-indent: 2em;
    background-color:rgb(120, 185, 163);
}

p{
    color:rgb(61, 107, 193);
}

.blueblue{
    color: rgb(174, 174, 255);
}

body{
    font-family: 'Noto Serif TC' sans-serif;
}

.expedu_icon{
    color: red;
}

.expedu_icon:hover{
    background-color: brown;
    color: white;
}