*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
div.redred{
    border: 5px solid rgb(23, 67, 73);
    color:rgb(59, 98, 87);
    font-size: 32px;
    text-align: center;
    text-indent: 2em;
    background-color:rgb(120, 185, 163);
    padding: 20px;
    border-radius: 50px;
    margin: 0px 0px 80px 0px;
}

p{
    color:rgb(61, 107, 193);
}

.blueblue{
    color: rgb(42, 42, 92);
}

body{
    font-family: 'Noto Serif TC', sans-serif;
}

.expedu_icon:hover{
    background-color: brown;
    color:white;
}

.bg-primary{
    background-color: rgb(69, 97, 94) ;
    background-image: url(../assets/img/4.JPG) !important; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

table.table01{
    width:80%;
    color: rgb(33, 21, 21);
    text-align: center;
}
table.table01 th{
    text-align: center;
    color: rgba(96, 53, 53, 0.38);
    background-color: gray;
    border: 5px solid rgb(120, 185, 163); 
}

table.table01 td{
    text-align: center;
    border: 5px solid rgb(120, 185, 163); 
}

table.table01 tr:nth-child(even){
    background-color: rgb(23, 67, 73)；
}

table.table01 tr:nth-child(odd){
    background-color: brown;
}

.table-80{
    width: 80%;
}

.overflow{
    background-color: rgb(24, 175, 163);
    color: white ;
    padding: 10px 20px;
    border-radius: 15px;
    width: 50%;
    margin: 20px auto;
    height: 80px;
    overflow: scroll;
}